body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: antiquewhite;
}

p {
    text-align: center;
    font-style: oblique;
    font-size: small;
}

#todo-title {
    color: brown;
    font-weight: 800;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 30px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgba(165, 42, 42, 0.678);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.taskCheckbox {
    margin-right: 10px;
}

#taskList {
    border: 3px solid brown;
    border-radius: 5px;
    padding: 20px;
}